# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
venv/
.venv/

# MLflow
mlruns/
.mlflow-props

# Data & Models
data/raw.csv
app/state.json
models/*.joblib

# macOS
.DS_Store

venv/
__pycache__/
*.pyc
models/
data/
.DS_Store
mlruns/